.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--bkg-primary);
  background: -webkit-linear-gradient(top left, var(--bkg-primary), var(--bkg-secondary));
  background: -moz-linear-gradient(top left, var(--bkg-primary), var(--bkg-secondary));
  background: linear-gradient(to bottom right, var(--bkg-primary), var(--bkg-secondary));
}

.main {
  padding: 5vh 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.accent {
  color: var(--accent);
}

.title {
  color: var(--title);
  font-family: "Encode Sans SC", sans-serif;
  text-transform: capitalize;
  font-size: min(6vh, 4rem);
  text-align: center;
  margin-top: 0;
  margin-bottom: 2vh;
}

/*
The board can be really wide, but it
should never be so wide as to go off
the bottom of the screen
*/
.wrapper {
  width: 95vw;
  max-width: 96vh;
  background-color: white;
  border-radius: 5%;
  color: var(--primary);
  padding: 5%;
  /*
    This comes in handy for specifying the
    position of the players.
   */
}

/*
Set a padding bottom on the pseudo
after class to give the .board an
aspect ratio of 4:3 (side areas)
*/
.wrapper:after {
  content: "";
  display: block;
  padding-bottom: 75%;
}
