.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--bkg-primary);
  background: -webkit-linear-gradient(top left, var(--bkg-primary), var(--bkg-secondary));
  background: -moz-linear-gradient(top left, var(--bkg-primary), var(--bkg-secondary));
  background: linear-gradient(to bottom right, var(--bkg-primary), var(--bkg-secondary));
}

.main {
  padding: 5vh 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.accent {
  color: var(--accent);
}

.title {
  width: 95vw;
  max-width: 140vh;
  color: var(--title);
  font-family: "Encode Sans SC", sans-serif;
  text-transform: capitalize;
  font-size: min(7.5vh, 5rem);
  text-align:right;
  margin-top: 0;
  margin-bottom: 2vh;
}

/*
The board can be really wide, but it
should never be so wide as to go off
the bottom of the screen
*/
.wrapper {
  font-family: "Open Sans", sans-serif;
  width: 95vw;
  max-width: 140vh;
  background-color: white;
  border-radius: 1rem;
  color: var(--primary);
  /*
    This comes in handy for specifying the
    position of the players.
   */
  display: flex;
}

/*
Set a padding bottom on the pseudo
after class to give the .board an
aspect ratio of 2:1 (side areas)
*/
.wrapper:after {
  content: "";
  display: block;
  padding-bottom: 50%;
}

.play {
  flex-basis: 75%;
  padding: 1rem;
}

.actions {
  flex-basis: 25%;
  background-color: var(--accent);
  border-radius: 0 1rem 1rem 0;
  display: flex;
  flex-direction: column;
}

.score {
  padding: 1rem;
  color: black;
  flex-basis: 2rem;
  flex-grow: 1;
  flex-shrink: 1;
  text-align: center;

  font-size: 1.5rem;
  font-weight: 800;
}

.controls {
  flex-basis: 1.5rem;
  flex-grow: 0;
  flex-shrink: 0;
  font-size: 1.5rem;

  display:grid;
  grid-template-rows: auto;
  grid-template-columns: 50% 50%;
  color: white;
}

.newGame, .nextSet, .toggleSubmit {
  user-select: none;
  background-color: var(--primary);
  padding: 1rem;
  text-align: center;
  transition: background-color 0.5s;
}

.newGame:hover, .nextSet:hover, .toggleSubmit:hover {
  background-color: black;
  transition: background-color 0.5s;
}

.nextSet {
  border-radius: 0 0 1rem 0;
}

.inputBar {
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
  border-radius: 1rem;
  display: flex;
}

.input, .toggleSubmit {
  padding: 1rem;
  font-size: 1.5rem;
}

.input {
  border: 4px var(--primary) solid;
  border-radius: 1rem 0 0 1rem;
  flex-basis: 80%;
}

.toggleSubmit {
  border: none;
  border-radius: 0 1rem 1rem 0;
  flex-basis: 20%;
  color: white;
}
